<Page class='page'>
    <Page.actionBar>
        <ActionBar class='action-bar' title="Device ID: {{devId}}"></ActionBar>
    </Page.actionBar>
    <ScrollView>
        <StackLayout verticalAlignment='center' horizontalAlignment='center'>
            <GridLayout columns='auto, auto, auto' rows='auto, auto, auto'>
                <Button class='btn' (touch)="btnF$.next($event)" text='Forward' row='0' col='1'></Button>
                <Button class='btn' (touch)="btnL$.next($event)" text='Left' row='1' col='0'></Button>
                <ActivityIndicator row='1' col='1' [busy]='this.navMode$ | async' class="activity-indicator">
                </ActivityIndicator>
                <Button visibility="{{(this.navMode$|async)? 'collapse':'visible'}}" class='stopBtn'
                    (touch)="btnS$.next($event)" text='Stop' row='1' col='1'></Button>
                <Button class='btn' (touch)="btnR$.next($event)" text='Right' row='1' col='2'></Button>
                <Button class='btn' (touch)="btnB$.next($event)" text='Back' row='2' col='1'></Button>
            </GridLayout>
            <label class="hr-dark m-10"></label>

            <label textAlignment='center' textWrap='true' text='離障礙物最短距離'
                class='text-primary h3 description-label'></label>
            <Slider (valueChange)="disToWall$.next($event)" value="10" minValue="10" maxValue="200" class='slider'>
            </Slider>
            <label textAlignment='center' textWrap='true' text='速度' class='h3 description-label'></label>
            <Slider (valueChange)="inputSpeed$.next($event)" value="50" minValue="10" maxValue="255"></Slider>
            <label class='text-danger' textAlignment='center' text='自駕模式' textWrap='true'></label>
            <Switch checked="false" (checkedChange)="autoPilot$.next($event.value)" class="switch" horizontalAlignment="center"></Switch>
        </StackLayout>
    </ScrollView>
</Page>